annotated-types==0.7.0
cohere>=5.0
anyio==4.12.1
attrs==25.4.0
beautifulsoup4==4.14.3
boto3==1.42.56
botocore==1.42.56
Brlapi==0.8.7
certifi==2025.7.9
cffi==2.0.0
charset-normalizer==3.4.3
click==8.1.7
cockpit==357
configobj==5.0.9
contourpy==1.3.3
cryptography==45.0.4
cupshelpers==1.0
cycler==0.11.0
dasbus==1.7
dbus-python==1.4.0
distro==1.9.0
evdev==1.9.3
fido2==2.0.0
file-magic==0.4.0
filelock==3.15.4
fonttools==4.61.0
fw-fanctrl==1.0.2
gbinder-python==1.3.0
git-filter-repo==2.47.0
h11==0.16.0
diskcache==5.6.3
httpcore==1.0.9
httpx==0.28.1
icoextract==0.2.0
idna==3.10
input-remapper==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jeepney==0.9.0
jmespath==1.0.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keyring==25.7.0
kiwisolver==1.4.9
langtable==0.0.69
libevdev==0.12
libvirt-python==11.6.0
louis==3.33.0
lutris==0.5.22
lxml==6.0.1
matplotlib==3.10.8
moddb==0.12.0
more-itertools==10.5.0
nftables==0.1
numpy==2.3.5
olefile==0.47
packaging==25.0
pefile==2024.8.26
perf==0.1
pexpect==4.9.0
pillow==11.3.0
pip==25.1.1
pip-autoremove==0.10.0
ply==3.11
protobuf==3.19.6
psutil==7.0.0
ptyprocess==0.7.0
PyAudio==0.2.13
pycairo==1.28.0
pycparser==2.22
pycups==2.0.4
pydantic==2.12.5
pydantic_core==2.41.5
pydbus==0.6.0
pyenchant==3.2.2
pygdbmi==0.11.0.0
PyGObject==3.54.5
pyinotify==0.9.6
pyparsing==3.1.2
pypresence==4.3.0
pyscard==2.2.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-linux-procfs==0.7.3
python-pskc==1.4
python-xlib==0.33
pyudev==0.24.3
pyxdg==0.28
PyYAML==6.0.2
pyynl==0.0.1
pyzstd==0.16.2
RapidFuzz==3.12.2
referencing==0.36.2
regex==2026.2.28
requests==2.32.5
requests-file==2.0.0
rpds-py==0.27.0
rpm==6.0.1
s3transfer==0.16.0
SecretStorage==3.3.3
selinux==3.9
sentry-sdk==2.35.0
sepolicy==3.9
setools==4.6.0
setproctitle==1.3.7
setroubleshoot==3.3.36
setuptools==78.1.1
shtab==1.7.2
six==1.17.0
sos==4.11.0
soupsieve==2.8
systemd-python==235
tldextract==5.3.0
typing_extensions==4.15.0
typing-inspection==0.4.2
udica==0.2.8
umu-launcher==1.2.9
urllib3==2.6.3
yubikey-manager==5.9.0
