[Desktop Entry]
Type=Application
Name=Update Email Password
Comment=Edit msmtp email configuration for alerts
Icon=preferences-system-network
Exec=kwrite /home/lch/.msmtprc
Terminal=false
Categories=Security;System;
StartupNotify=false
